body{
   
  background-image: url(bb1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: white;
  padding: 20px;
  position: sticky;
  box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
  position: sticky;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
  position: sticky;
  
}

.btn {
  background-color: white;
  border: none;
  padding: 1px;
  justify-content: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: orangered;
  box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
}




/* Float the link section to the right */
.header-right {
  float: right;
  position: sticky;
}

.feedback{
    max-width: 400px;
        min-height: 400px;
        box-sizing:inherit;
        background: white;
        box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        margin:  20px auto 0 auto;
        padding: 25px;
        color: black;
        font-size: large;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.cm-input{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%; 
    margin: 14px auto;
    border-radius: 10px;
    border: 2px solid rgb(24, 14, 152);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.btnl {
    background-color: orangered;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
  }
  
  .btnl:hover {
    border: solid 3px;
  }
  .contact{
    background-color: white;
    padding: 20px;
    box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
   
}
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.4);
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  h2{
    font-family: 'Mochiy Pop One';
    font-size: x-large;
 }
 
  